<!DOCTYPE html>

<html lang="zh-CN">


<head>


<meta charset="UTF-8">


<meta name="viewport"
content="width=device-width,initial-scale=1.0">


<title>
环境数据分析
</title>



<link rel="stylesheet"
href="/static/style.css">



<script src="
https://cdn.jsdelivr.net/npm/chart.js
"></script>


</head>




<body>



<header class="header">


<div>


<h1 id="title">

环境实时分析

</h1>



<p>

LabSafetyMonitor

</p>


</div>



<div id="clock">

--:--:--

</div>



</header>






<div class="container">





<!-- 返回 -->


<button
onclick="backHome()">

⬅ 返回首页

</button>







<!-- 当前状态 -->


<section class="panel">



<h2>

实时状态

</h2>



<div class="analysis-info">



<div>


当前值：

<span id="current">

--

</span>


</div>



<div>


安全阈值：

<span id="limit">

--

</span>


</div>



<div>


状态：

<span id="status"
class="safe">

正常

</span>



</div>



</div>



</section>








<!-- 图表 -->


<section class="panel">


<h2 id="chartTitle">

实时曲线

</h2>



<div
style="
height:400px;
">


<canvas id="lineChart">

</canvas>


</div>



</section>








<!-- 数据说明 -->


<section class="panel">


<h2>

安全分析说明

</h2>



<table>



<tr>


<td>

检测项目

</td>


<td id="name">

--

</td>


</tr>





<tr>

<td>

安全范围

</td>


<td id="range">

--

</td>


</tr>




<tr>

<td>

数据来源

</td>


<td>

Hi3861传感器

</td>


</tr>




<tr>


<td>

刷新周期

</td>


<td>

2秒

</td>


</tr>




</table>



</section>





</div>








<script src="/static/chart.js"></script>





<script>



//======================
// 时钟
//======================


function clock(){


let d=new Date();


document.getElementById(
"clock"
).innerHTML=
d.toLocaleString();


}



setInterval(clock,1000);


clock();





//======================
// 返回
//======================


function backHome(){


location.href="/";


}




</script>



</body>


</html>