<!DOCTYPE html>
<html lang="zh-CN">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width,initial-scale=1.0">


<title>
实验室环境安全监测平台
</title>


<link rel="stylesheet"
href="/static/style.css">


</head>


<body>



<!-- ======================
顶部
====================== -->

<header class="header">


<div>

<h1>
🧪 实验室安全环境监测平台
</h1>


<p>
Hi3861 + 巴法云 + FastAPI
</p>


</div>



<div class="top-right">


<div id="clock">

--:--:--

</div>


<div>

状态:

<span id="connect"
class="safe">

检测中

</span>


</div>


</div>



</header>





<div class="container">





<!-- ======================
实时数据卡片
====================== -->


<section class="card-box">



<div class="card"
onclick="openChart('temperature')">


<h2>
🌡 温度
</h2>


<div class="card-value"
id="temperature">

--

</div>


<p>
℃
</p>


</div>






<div class="card"
onclick="openChart('humidity')">


<h2>
💧 湿度
</h2>


<div class="card-value"
id="humidity">

--

</div>


<p>
%

</p>


</div>







<div class="card"
onclick="openChart('gas')">


<h2>
☁ 气体

</h2>


<div class="card-value"
id="gas">

--

</div>


<p>
ppm

</p>


</div>






<div class="card"
onclick="openChart('light')">


<h2>
💡 光照

</h2>


<div class="card-value"
id="light">

--

</div>


<p>
lux

</p>


</div>



</section>





<!-- ======================
摄像头+安全分析
====================== -->


<section class="main-grid">



<div class="panel">


<div class="panel-title">

📷 实验室实时监控

</div>



<div class="camera">


<img
src="/camera"
onerror="
this.src='/static/error.png'
">


</div>


</div>





<div class="panel">


<div class="panel-title">

⚠ 环境安全分析

</div>




<h2 id="safeState"
class="safe">

正常

</h2>



<hr>



<p>

🌡 温度安全:

<30℃

</p>


<p>

💧 湿度安全:

<70%

</p>


<p>

☁ 气体安全:

<200ppm

</p>


<p>

💡 光照安全:

<1000lux

</p>





<br>



<button
onclick="sendAlarm('alarm_on')">

开启报警

</button>



<button
onclick="sendAlarm('alarm_off')">

关闭报警

</button>




</div>




</section>





<!-- ======================
设备信息
====================== -->


<section class="panel">


<div class="panel-title">

📡 设备信息

</div>




<table>


<tr>

<td>
芯片
</td>


<td>
Hi3861
</td>


</tr>




<tr>

<td>
传感器
</td>


<td>
AHT20 + MQ2 + 光敏
</td>


</tr>




<tr>

<td>
云平台
</td>


<td>
巴法云
</td>


</tr>




<tr>

<td>
主题

</td>

<td>
env004

</td>


</tr>



<tr>

<td>
更新时间

</td>


<td id="update">

--

</td>


</tr>


</table>


</section>






</div>





<script>


//======================
// 数字时钟
//======================


function clock(){


let d=new Date();


document.getElementById(
"clock"
).innerHTML=d.toLocaleString();


}


setInterval(clock,1000);

clock();





//======================
// 打开分析曲线
//======================


function openChart(type){


location.href=
"chart.html?type="+type;


}







//======================
// 获取数据
//======================


async function getData(){



try{


let res=
await fetch(
"/api/env"
);



let json=
await res.json();



if(json.ok){



let d=json.data;



setValue(
"temperature",
d.temperature,
30
);


setValue(
"humidity",
d.humidity,
70
);



setValue(
"gas",
d.gas,
200
);



setValue(
"light",
d.light,
1000
);




document.getElementById(
"update"
).innerHTML=d.time;



document.getElementById(
"connect"
).innerHTML=
"在线";



analyse(d);



}



}

catch(e){


document.getElementById(
"connect"
).innerHTML=
"离线";


}



}






function setValue(id,value,max){


let el=
document.getElementById(id);



el.innerHTML=value;



el.className=
"card-value";



if(Number(value)>max){


el.classList.add(
"danger"
);


}



}






//======================
// 安全分析
//======================


function analyse(d){



let state=
document.getElementById(
"safeState"
);



let msg="正常";



let danger=false;



if(d.temperature>30){

msg="温度超标";

danger=true;

}



if(d.humidity>70){

msg="湿度超标";

danger=true;

}




if(d.gas>200){

msg="气体超标";

danger=true;

}





if(d.light>1000){

msg="光照异常";

danger=true;

}




if(danger){


state.innerHTML=
"⚠ "+msg;


state.className=
"danger";


}

else{


state.innerHTML=
"✔ 环境正常";


state.className=
"safe";


}



}







//======================
// 报警控制
//======================


async function sendAlarm(msg){



await fetch(
"/api/env/send",
{


method:"POST",


headers:{


"Content-Type":
"application/json"


},


body:

JSON.stringify({

msg:msg

})


}


);


}




getData();


setInterval(
getData,
2000
);



</script>


</body>


</html>
