<!DOCTYPE html>

<html lang="zh-CN">


<head>


<meta charset="UTF-8">


<title>
环境数据分析
</title>



<meta name="viewport"
content="width=device-width,initial-scale=1">


<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/camera.css">


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



</head>




<body>


<div class="container">



<h1 id="title">

数据分析

</h1>




<div class="panel">


<canvas id="myChart">

</canvas>


</div>





<br>


<button onclick="history.back()">

返回首页

</button>




</div>



<script src="/static/chart.js"></script>


</body>


</html>