<!DOCTYPE html>

<html lang="zh-CN">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width,initial-scale=1.0">


<title>
个人信息
</title>


<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/camera.css">


</head>


<body>
  <nav class="detect-nav">
    <a href="/" class="nav-home">🏠 总览</a>
    <a href="/temperature.html" class="nav-link">🌡 温度</a>
    <a href="/humidity.html" class="nav-link">💧 湿度</a>
    <a href="/gas.html" class="nav-link">🫧 气体</a>
    <a href="/light.html" class="nav-link">💡 灯光</a>
    <a href="/camera.html" class="nav-link">📷 摄像头</a>
  </nav>



<!-- 顶部 -->

<header class="top-header">


<h1>
👤 个人信息
</h1>



<div class="user-box">


<img src="/static/user.png">


<span>
张三
</span>


</div>


</header>







<div class="layout">



<!-- 左侧菜单 -->

<aside class="sidebar">


<div class="menu-title">

LabSafety

</div>



<div class="menu-item"

onclick="location.href='/'">

🏠 首页

</div>




<div class="menu-group">


<div class="group-title">

📊 环境检测

</div>



<div class="submenu"

onclick="location.href='/temperature.html'">

🌡 温度检测

</div>



<div class="submenu"

onclick="location.href='/humidity.html'">

💧 湿度检测

</div>



<div class="submenu"

onclick="location.href='/gas.html'">

☁ 气体检测

</div>



<div class="submenu"

onclick="location.href='/light.html'">

💡 光照检测

</div>


</div>






<div class="menu-item"

onclick="location.href='/camera.html'">

📷 摄像头管理

</div>





<div class="menu-item active">

👤 个人信息

</div>



</aside>









<!-- 主体 -->

<main class="main-content">



<div class="analysis-card">



<h2>

用户资料

</h2>



<br>



<div style="
text-align:center;
">


<img

src="/static/user.png"

style="
width:120px;
height:120px;
border-radius:50%;
border:4px solid #2563eb;
">


</div>



<br>



<table>


<tr>

<td>
账号名称
</td>

<td>
张三
</td>

</tr>




<tr>

<td>
用户权限
</td>

<td>
管理员
</td>

</tr>




<tr>

<td>
系统名称
</td>

<td>
LabSafetyMonitor
</td>

</tr>




<tr>

<td>
登录状态
</td>

<td style="color:green">

在线

</td>

</tr>




<tr>

<td>
绑定设备
</td>

<td>

实验室安全监测系统

</td>

</tr>



</table>





</div>






</main>



</div>





</body>


</html>